/*---------------------------------------------------FONTS---------------------------------------------------*/
@font-face{
	font-family:  'Fjalla One';
	src: url('Fonts/Fjalla_One/FjallaOne-Regular.ttf');
}
@font-face{
	font-family: 'Bebas Neue';
	src: url('Fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}
@font-face{
	font-family: 'Cinzel';
	src: url('Fonts/Cinzel/Cinzel-Regular.ttf');
}
@font-face{
	font-family: 'Oxanium';
	src: url('Fonts/Oxanium/Oxanium-Regular.ttf');
}
@font-face{
	font-family: 'Reenie Beanie';
	src: url('Fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf');
}
/*---------------------------------------------------BASIC---------------------------------------------------*/
*{
	text-decoration: none;
	box-sizing: border-box;
	list-style-type: none;
	padding: 0;
	margin:0;
}
header{
    background-color: : #fff;  
}
button{
	border: none; 
	outline: none;
	background: transparent;
}
body{
	position: relative;
	font-family: 'Oxanium', serif;
	font-size: 15px;
	color: #2E2E2E;	
	background-image: url(..//Image/03224/03224.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	/*height: 2273px;*/
}
section{
	height: 100vh;
	position: relative;
	background-color: white;
}
svg{
	position: absolute;		
}
/*---------------------------------------------------NAVIGATION---------------------------------------------------*/
/*----------------------------list----------------------------*/
.header{
	width: 100%;
	position: fixed;
	top:0px;
	z-index: 1000;
}

.navigation{
	display: flex;
	justify-content: space-between;	

	height: 70px;

    background-color: rgba(0, 166, 214, 1);
}	
.navigation_list{
	display: flex;
    justify-content: space-around;

    height: 100%;    
}

.navigation_item{ 
	position: relative;
	display:flex;
	align-items:center;

    height:100%;
    padding: 0 30px 0 30px;
    
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;

    border-right: 1px solid rgba(0,0,0,0.2);
}
.navigation_item:hover > ul {
	display: flex;
}
.navigation_item-pointer:before, .navigation_item-pointer:after{
	content: "";
	position: absolute;

	height: 2px;
	width: 10px;

	border-radius: 50px;

	background-color: #2E2E2E;
}
.navigation_item-pointer:before{
	transform: rotate(55deg);
	top: 10;
	right: 13px
}
.navigation_item-pointer:after{
	transform: rotate(125deg);
	top: 10;
	right: 8px;
}
.navigation_item-pointer:hover:before, .navigation_item-pointer:hover:after{
	background-color: white;
}
.navigation_item:hover, .navigation_search:hover, .navigation_lang:hover{
	background-color: black;
	cursor: pointer;
	color: white;
	fill: white;
}
.navigation_focus{
	background-color: black;
	color: white;
}
.navigation_focus:before, .navigation_focus:after{
	background-color: white;
} 
.navigation_list-fall{
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 100%;
	left: 0px;

	min-width: 166px;
	width: calc(100% + 1px);

	background-color: white;
	color: #2E2E2E;
	display: none;
}
.navigation_item-fall{
	
	text-align: center;
	padding: 10px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.navigation_item-fall:hover{
	
	background-color: black;
	color: white;
}
/*----------------------------search----------------------------*/
.navigation_buttons{
	display: flex;
}
.navigation_search{
	display:flex;
	align-items:center;
	
	padding: 0 28px 0 28px;

	border-left: 1px solid rgba(0,0,0,0.2);
}
.icon-svg{
	position: relative;
}
/*----------------------------lang----------------------------*/
.navigation_lang{
	position: relative;
	display:flex;
	align-items:center;
	
	padding: 0 24px 0 24px;

	border-left: 1px solid rgba(0,0,0,0.2);
}
.navigation_list-fall-lang{
	left: -1px;
	min-width: auto;
}
.navigation_item-fall-lang{
	padding-top: 9px;
	padding-bottom: 9px;
}
.navigation_lang:hover > ul {
	display: flex;
}
/*---------------------------------------------------MAIN---------------------------------------------------*/
.main{
	background-color: rgba(136, 193, 225, 1);
}
.main_wrapper{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-between;
	
	height: 100%;	
	padding-top:190px;
}
/*----------------------------header----------------------------*/
.main_header{
	padding: 11px;

	font-size: 40px;
	font-weight: bold;
}
.main_span{
	padding: inherit;
	background-color: white;
}
/*-------------------------block-inform-------------------------*/
.main_block-inform{
	margin-top:38px;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.main_header-inform{
	font-family: "Reenie Beanie";
	font-size: 48px;
	font-weight: 300;
	color: white;
}
.main_list{
 	display: flex;
 	justify-content: space-between;
 	width: 973px;	
}
.main_item{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*-------------------------img-------------------------*/
.main_img{
 	width:80px;
  	height:80px;
}
.main_img-1{margin-left: auto; margin-right: -40px;}
.main_img-2{margin-left: auto;}
.main_img-3{width: 100px;}
.main_img-4{margin-right: auto; }
.main_img-5{margin-right: auto; margin-left: -40px;}
/*------------------------letter-----------------------*/
.main_letter{
	position: relative;
	padding: 30px;
	font-size: 20px;
	z-index: 100;
}
.main_letter::before{
	content: "";
	position: absolute;
	top: 12px;
	left:0px;
	height: 55px;
	width: 100%;
	border-radius: 50px;
	z-index: -1;
	background-color: white;
}
.main_letter::after{
	content: "";
	position: absolute;
	bottom: -7px;
	left:42.5%;
	z-index: -1;
	
	border: 10px solid transparent;
	border-top: 20px solid white;
}
/*------------------------text-----------------------*/
.main_text{
	margin-top: 24px;
	line-height: 1.6;
	text-align: center;
	font-weight: bold;
	color: white;
}
/*------------------------link-----------------------*/
.main_link{
	margin-top: 27px;
	padding: 10px 16px 10px 16px;
	border-radius: 5px;
	font-weight: bold;
	color: white;
	background-color: black;
}
/*---------------------pointerOnMap-------------------*/
.pointerOnMap{
	position: relative;
	margin-bottom: 105px;
	width: 100px;
	height: 20px;
}
.pointerOnMap-after{
	margin-top: 105px;
	margin-bottom: 0;
}
@keyframes for_pointerOnMap{
  from {
   border-top: 20px solid white;
  }
  50%{
	border-top: 20px solid rgba(0, 166, 214, 1);
	}
  to {
   border-top: 20px solid black;
  }
}
.pointerOnMap-link:before{
	animation-duration: 3s;
  	animation-name: for_pointerOnMap;
  	animation-direction: alternate;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
	cursor: pointer;
	content: "";
	position: absolute;
	left: 37.5%;
	border: 15px solid transparent;
	border-top: 20px solid white;
}
.pointerOnMap-link-after:before{
	top:-15px;
	  transform: rotate(-180deg);

}
/*---------------------------------------------INTERACTIVE-MAP----------------------------------------------*/
	
.interactiveMap{ 
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;
}
.interactiveMap_wrapper{
	width: 1035px;
	height: 710px;
	transform: matrix(1,0,0,1,0,-150);
	transition-duration: 1s;	
	transition-timing-function: ease;
	overflow: hidden;
	z-index: 100;
	position: absolute; 
	border-radius: 18px;
	border: 15px solid #333333;
	background-color:black; 
}
	/*----------------------------Selection-List----------------------------*/

.interactiveMap__selectionList{
	display: flex;
	justify-content: space-around;
}	
form{
  	z-index: 2000;
  	position: relative;
}
.chosen-value {
	width: 210px;
  	padding: 2px 5px;
 	border: 3px solid transparent;
  	transition: .3s ease-in-out;
}
.chosen-value::-webkit-input-placeholder {
	text-align: center;
	color:black;
	font-size: 13px;
}
.chosen-value:hover {
    background-color: rgba(0, 166, 214, 1);
    cursor: pointer;
}
.chosen-value:focus{
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
    outline: 0;
    background-color: rgba(0, 166, 214, 1);
    color: #000;
}
.chosen-value:hover ~ ul, .value-list:hover{
    max-height: 220px;
   	overflow: auto;
}
.value-list{
	position: absolute;
	width: 100%;
  	list-style: none;
  	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
 	overflow: hidden;
  	max-height: 0;
  	transition: .3s ease-in-out;
}
.value-item{
    position: relative;
    background-color: #FAFCFD;
   padding: 2px 5px 2px 5px;
    font-size: 1.0rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;
    opacity: 1;
}
.value-list li:hover {
    background-color: rgba(0, 166, 214, 1);
}
.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
}   
	
	.interactiveMap_svg{
		width: 100%;
		z-index: 1;
		object-fit: cover;
		transform: matrix(0.8,0,0,0.8,0,-60); 
	}
	.sect_main_img2{
		width: 100%;	
		transform: matrix(0.8,0,0,0.8,0,-60); 
	}
	
	.interactiveMap_path{
		fill: rgb(51, 153, 255);
		opacity: 0.4;
		
	}
	 .interactiveMap_path:hover{
		opacity: 0.0;
        cursor: pointer;  
	}
	.city_name{
		text-align: center;
		font-size: 119px;
		fill: black;
		opacity: 1;
	}
	.city_name:focus, .city_name:hover{
		cursor: pointer;
	}
	.city_name:hover ~ .interactiveMap_path{
		cursor: pointer;
		opacity: 0.0;
	}

/*---------------------------------------------DIAGRAMS----------------------------------------------*/
.diagrams{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.diagrams_wrapper{
	display: flex;
	justify-content: space-around;
	width: 95%;

	background-color: red;
}
/*----------------------------List----------------------------*/
.diagrams_list{

}
.diagrams_item{

} 
/*-----------------------Select-----------------------*/
.diagrams_item-select{

}	
.diagrams_selectArea{

}
.diagrams_selectRiver{

}
.diagrams_selectPoint{

}
.diagrams_button{

}
/*-----------------------Graphic----------------------*/
.diagrams_graphic{
	margin: 10px;
  width: 350px;
  height: 200px;
  background-color: blue;
}




.no_border{
	border-bottom: none !important;
}
#coords1{
	z-index: 100;
	position: absolute;
	top:0;
	left: 0;
}

footer{
	background-color:#58ACFA;	
}
		
.hidden{
	display: none;
}
.region_section{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	z-index: 1000;
}
.region_wrapper{
	display: flex;
    justify-content: space-between;

	margin:auto auto auto auto;
	padding: 10px;
	height: 85%;
	width: 90%;
	
    border-radius: 25px;
    z-index: 18;
	background-color:white; 
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);  
}

.region_imgItem{
	flex: 2;
}

.region_list{
	flex: 1 ;
	box-sizing: border-box;
	height: 100%;
	display:  flex;
	flex-direction: column;
	border-right: 3px solid rgba(0, 0, 0, 0.7);
}
.region_item{
	margin: 3px;
	font-size: 20px;
}
.region-header{
	padding: 10px;
	border-radius: 15px 0 0 0; 
	text-align: center;
	font-size: 27px;
	font-weight:bold;   
	background-color: rgba(0, 166, 214, 1);
}


.region_closeButton{
  position: absolute;
  cursor: pointer;
  top: 1%;
  left: 50%;
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  border-radius: 30px;
  font-size: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}
.region_closeButton::before,
.region_closeButton::after {
  content: "";
  position: absolute;
  top: 48%;
  right: 8%;
  width: 35px;
  height: 4px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}

.region_closeButton::before {
  transform: rotate(45deg);
}

.region_closeButton::after {
  transform: rotate(-45deg);
}
.region_dimBlock{
	position: absolute;
	z-index: 17;
	background-color:rgba(0,0,0,0.4); 
	height: 100%;
	width: 100%;
	bottom: 0px;
	right: 0px;
	cursor: pointer;
}
.region_dimBlock:focus,.region_dimBlock:hover{
		background-color:rgba(0,0,0,0.6); 
} 
.region_dimBlock:focus  .region_closeButton,.region_dimBlock:hover  .region_closeButton{

		 background-color: rgba(255, 255, 255, 1);
		  box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
} 
.region_dimBlock:hover  .region_closeButton::after, .region_dimBlock:hover  .region_closeButton::before{
		 background-color: rgba(0, 0, 0, 1);
} 
